﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pueblos de México</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
    <div class="container navbar">
        <nav class="navbar width100" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-item">Pueblos de México</div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/cms/towns" class="navbar-item">Pueblos</a>
                    <a href="/cms/users" class="navbar-item">Usuarios</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                        <a href="/cms/logout" class="button is-primary">
                            <strong>Log out</strong>
                        </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        @RenderBody()
    </div>
<script src="/js/app.js" ></script>
</body>
</html>
