@import "node_modules/bulma/bulma";


.width100{
    width: 100%;
}

.right{
    float: right;
}

.textright{
    text-align: right;
}

.message.is-danger{
    display:none;
}

.message.is-danger.show{
    display:block;
}

.container{
    padding: 10px;
}