﻿@{
    Layout = "../Shared/_Layout";
    String error = (ViewData["error"]!=null)? (String)ViewData["error"]:"";
    String showError = (error!="")? "show":"";
}
<article class="message is-danger @showError"><div class="message-body">@error</div></article>
    <form action="/cms/login" method="post">
        <div class="field">
            <label class="label">Email: </label>
            <div class="control">
                <input type="text" name="email" />
            </div>
        </div>
        <div class="field">
            <label class="label">Contraseña: </label>
            <div class="control">
                <input type="password" name="pass" />
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Guardar</button>
            </div>
        </div>
    </form>

