﻿@{
    Layout = "../Shared/_Layout";
}
<form action="/cms/register" method="post">
    <label>Username: <input type="text" name="username"></label>
    <label>Email: <input type="text" name="email"></label>
    <label>Contraseña: </label><input type="password" name="pass"></label>
    <button>Registrar</button>
</form>