﻿@{
    String error = (ViewData["error"]!=null)? (String)ViewData["error"]:"";
    String showError = (error!="")? "show":""; 
    User user = (ViewData["user"]!=null)? (User)ViewData["user"]:null;
    int id = (user!=null)? user.Id: 0;
}
@if(user!=null) {
    <h2>Editar usuario "@user.Username"</h2>
}else{
    <h2>Crear usuario</h2>
}
<article class="message is-danger @showError"><div class="message-body">@error</div></article>
<form action="/cms/users" method="POST" >
    <input type="hidden" name="id" value="@id"/>
    <div class="field">
        <label class="label">Username: </label>
        <div class="control">
            <input type="text" name="user" value="@user.Username" />
        </div>
    </div>
    <div class="field">
        <label class="label">Email: </label>
        <div class="control">
            <input type="text" name="email" value="@user.Email" />
        </div>
    </div>
    <div class="field">
        <label class="label">Contraseña: </label>
        <div class="control">
            <input type="password" id="pass1" name="pass1" value="" />
        </div>
    </div>
    <div class="field">
        <label class="label">Confirmar contraseña: </label>
        <div class="control">
            <input type="password" id="pass2" name="pass2" value="" />
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Guardar</button>
        </div>
        <div class="control">
            <button type="button" class="button is-text" onClick="window.location='/cms/users'">Cancel</button>
        </div>
    </div>
</form>