@{
    ViewData["Title"] = "Home Page";
    List<User> users = (List<User>) ViewData["users"];
}

<h2>Usuarios</h2>

<p class="textright"><a href="/cms/users/0" class="button">Crear</a></p>

<table class="table width100">
  <thead>
      <tr>
        <th>Username</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    @foreach (User user in users)
    {
        <tr>
            <td>@user.Username</td>
            <td><a href="/cms/users/@user.Id">Editar</a> | <a href="/cms/users/del/@user.Id">Delete</a></td>
        </tr>
    }
    @if(users.Count==0){
      <tr><td colspan="2">No hay resultados.</td></tr>
    }
  </tfoot>
</table>
