﻿@{
    String error = (ViewData["error"]!=null)? (String)ViewData["error"]:"";
    String showError = (error!="")? "show":""; 
    Town town = (ViewData["town"]!=null)? (Town)ViewData["town"]:null;
    int id = (town!=null)? town.Id: 0;
}
@if(town!=null) {
    <h2>Editar pueblo "@town.Name"</h2>
}else{
    <h2>Crear pueblo</h2>
}
<article class="message is-danger @showError"><div class="message-body">@error</div></article>
<form action="/cms/towns" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="id" value="@id"/>
    <div class="field">
        <label class="label">Slug: </label>
        <div class="control">
            <input type="text" name="slug" value="@town.Slug" />
        </div>
    </div>
    <div class="field">
        <label class="label">Nombre: </label>
        <div class="control">
            <input type="text" name="name" value="@town.Name" />
        </div>
    </div>
    <div class="field">
        <label class="label">Estado: </label>
        <div class="control">
            <input type="text" name="state" value="@town.State" />
        </div>
    </div>
    <div class="field">
        <label class="label">Autor: </label>
        <div class="control">
            <input type="text" name="author" value="@town.Author" />
        </div>
    </div>
    
    <div class="field">
        <label class="label">Imagen: </label>
        <div class="control">
            <input type="file" name="image" />
            @if (@town.Image!="") {
                <div style="padding: 20px">
                <img src="@town.Image" width="50px"/>
                <p>Actual: @town.Image </p>
                </div>
            }
        </div>
    </div>
    <div class="field">
        <label class="label">Descripción:</label>
        <div class="control">
            <textarea name="description">@town.Description</textarea>
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Guardar</button>
        </div>
        <div class="control">
            <button type="button" class="button is-text" onClick="window.location='/cms/towns'">Cancel</button>
        </div>
    </div>
</form>

