@{
    ViewData["Title"] = "Home Page";
    List<Town> towns = (List<Town>) ViewData["towns"];
}

<h2>Pueblos</h2>

<p class="textright"><a href="/cms/towns/0" class="button">Crear</a></p>

<table class="table width100">
  <thead>
      <tr>
        <th>Name</th>
        <th>Estado</th>
        <th>Autor</th>
        <th>Imagen</th>
        <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    @foreach (Town town in towns)
    {
        <tr>
            <td>@town.Name</td>
            <td>@town.State</td>
            <td>@town.Author</td>
            <td>@town.Image</td>
            <td><a href="/cms/towns/@town.Id">Editar</a> | <a href="/cms/towns/del/@town.Id">Delete</a></td>
        </tr>
    }
    @if(towns.Count==0){
      <tr><td colspan="5">No hay resultados.</td></tr>
    }
  </tfoot>
</table>